body {
  margin: 0;
  padding: 0;
  font-family: 'SF Compact Display';
  font-size: 62.5%;
}

/*POLICES */

@font-face {
  font-family: 'SF Compact Display';
  src: url('../fonts/SFCompactDisplay-Light.woff2') format('woff2'),
    url('../fonts/SFCompactDisplay-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Compact Display Regular';
  src: url('../fonts/SFCompactDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SFCompactDisplay-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

/* HEADER FIX */



nav.HEADER {
  display: flex;
  justify-content: space-around;
  height: auto;
  background: #23222A;
  font-size: 0.9rem;
}

.menu_container ul {
  list-style: none;
  padding: 0;
}

.menu_container ul li {
  display: inline-block;
  text-align: center;
  width: auto;
  margin: 0rem 1.8rem;
}

.menu_container ul li a {
  display: inline;
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
}

.menu_container ul li a:hover {
  color: #969696;
}

.apple_icon a img {
  max-width: 0.8rem;
  margin-right: 0.2rem;
}

ul.menu_responsive {
  display: none;
}

#menuToggle {
  display: none;
}


.Acheter {
  background-color: #1592E6;
  background: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #07c;
  padding: 0.15rem 0.8rem 0.15rem 0.8rem;
  border-radius: 0.2rem;
}




@media (max-width: 900px) {
  .menu {
    display: none;
  }

  .menu_container {
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
  }

  ul.menu_responsive {
    display: flex;
    justify-content: space-between;
  }


  ul.menu_responsive li a {
    font-size: 1.5rem;
  }

  a {
    transition: color 0.3s ease;
  }

  #menuToggle input {
    display: block;
    width: 2rem;
    height: 1rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 30%;
    margin: 15px 0 0 -50px;
    padding: 18px 50px 50px;
    background: rgba(0, 0, 0, 0.8);
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 10px 0;
  }

  #menuToggle input:checked~ul {
    transform: none;
  }

  #menuToggle {
    margin-top: 7px;
    display: block;
    top: 50px;
    left: 50px;
    z-index: 1;
    user-select: none;
  }

  ul#menu li {
    display: flex;
    flex-direction: column;
  }

  .menu_container ul li {
    margin: 0;
  }

  .menu_container ul li:first-child {
    margin-left: 0;
  }
}



/* GENERAL STYLE ALL PAGE */

.Block {
  display: flex;
  flex-direction: row;
}


/* Connectivite */

/* SECTION 1 */

.Connectivite__section1__content {
  display: flex;
  flex-direction: column;
}

.Connectivite__block1__visual {
  width: 100%;
  height: 100%;
}

.Connectivite__section1__visual {
  height: 120vh;
  background: url('../images/Connectivite/connect2.jpg') center top / cover no-repeat;
}

.Connectivite__section1__content__description {
  font-size: 4rem;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 0rem;
  justify-content: center;
}

.Connectivite__section1__content__description__link {
  color: #008EE6;
  text-decoration: none;
  font-size: 1rem;
}

.Connectivite__section1__content__subdescription {
  font-size: 1.5rem;
}

/* BANNER 1 */

.Banner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url('../images/Connectivite/gradient.png') center / cover no-repeat;
}

.Banner1__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Banner1__content__big__description {
  font-family: 'SF Compact Display Regular' !important;
  text-align: center;
  color: white;
  font-size: 4rem;
  margin-top: 0rem;
}

.Banner1__content__description {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-top: 0rem;
}




/* HOMEPOD DEVICE */

.Solo__text2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin-top: 4rem;
}

.Device {
  height: 15rem;
}

.Device img {
  width: 100%;
}


/* FOOTER LINK FIONCTIONAL */

@media (min-width: 900px) {
  .contain {
    display: flex;
    justify-content: center;
    padding: 3rem;
  }

  .footer {
    background-color: #F5F5F5;
  }

  .footer .list {
    width: 12rem;
    padding: 1.5rem;
  }

  .footer .list h1 {
    font-size: 1rem;
    padding: 0.2rem 0rem 0.5rem 0rem;
    color: #000000;
  }

  .footer .list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer .list ul li {
    font-size: 0.8rem;
    padding: 0.1rem 0rem 0.1rem 0rem;

  }

  .footer .list ul li a {
    text-decoration: none;
    color: #696969;
  }

}



/*FOOTER RESPONSIVE */

@media (max-width: 900px) {

  .footer .container {
    width: 900px;
    margin: 0 auto;
  }

  .footer .contain {
    padding-left: 2rem;
    list-style: none;
    background-color: #F5F5F5;
  }

  .footer .list {
    margin: 0;
  }

  .footer .list h1 {
    font-size: 0.7rem;
    padding: 0.2rem 0rem 0.5rem 0rem;
    color: #000000;
    position: relative;
  }

  .footer .list h1::after {
    content: "<";
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 0.7rem;
    padding: 0.2rem 0rem 0.5rem 0rem;
    color: #000000;
    transform: rotate(0deg);
    transition: all linear 0.25s;
  }

  .footer .list .answer {
    display: none;
  }

  .footer .list.is-open .answer {
    display: block;
  }

  .footer .list.is-open h1::after {
    transform: rotate(-90deg);
  }

  .footer .list.is-open .answer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer .list.is-open .answer li {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding: 0.1rem 0rem 0.1rem 0rem;

  }


  .footer .list.is-open .answer li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #696969;
  }


}

/* SIRI */

.Siri__question {
  font-family: 'SF Compact Display Regular' !important;
  padding-top: 4rem;
  margin: 0 auto;
  text-align: center;
  font-size: 3.6rem;
  color: transparent;
  background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px), linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);
  background-size: 51% 100%;
  background-position: top left, top right;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Siri__question__start {
  padding-top: 9rem;
  font-family: 'SF Compact Display Regular' !important;
  margin: 0 auto;
  text-align: center;
  font-size: 3.6rem;
  color: transparent;
  background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px), linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);
  background-size: 51% 100%;
  background-position: top left, top right;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Siri__answer {
  text-align: center;
  font-size: 1.8rem;
}

.Siri__answer__end {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 9rem;
}

/* IPAD IPHONE responsive CONNECTIVITY */


/* IPAD */

@media (max-width: 900px) {

  /* Section 1 */
  .Connectivite__section1__visual {
    height: 100vh;
  }

  .Connectivite__section1__content__description {
    font-size: 3.5rem;
  }

  /* Banner 1 */

  .Banner1__content__big__description {
    font-size: 2.8rem;
  }

  .Banner1__content__description {
    font-size: 1.5rem;
  }

  .Banner1 {
    padding: 7rem 0;
    height: auto;
  }

  /* HOMEPOD DEVICE */

  .Solo__text2 {
    font-size: 2rem;
  }

  .Device {
    height: 12rem;
  }

  /* SIRI  */
  .Siri__question {
    font-size: 2.5rem;
    padding-top: 2.5rem;
  }

  .Siri__answer {
    text-align: center;
    font-size: 1.5rem;
  }

  .Siri__answer__end {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }


}

/* IPHONE */

@media (max-width: 600px) {

  /* Section 1 */

  .Connectivite__section1__visual {
    height: 50vh;
  }

  .Connectivite__section1__content__description {
    font-size: 2rem;
    padding-top: 0rem;
  }

  /* Banner 1 */

  .Banner1__content__big__description {
    font-size: 2rem;
  }

  .Banner1__content__description {
    font-size: 1rem;
  }

  .Banner1 {
    padding: 6rem 0;
    height: auto;
  }

  /* HOMEPOD DEVICE */

  .Solo__text2 {
    font-size: 1.5rem;
    padding: 0rem 0;
  }

  .Device {
    height: 10rem;
  }

  /* SECTION 2 Configuration */

  .Connectivite__section2 {
    padding: 0rem 3rem;
    height: auto;
  }

  .Connectivite__section2__content__description {
    font-size: 1rem;
  }


  .Connectivite__section2__content__subdescription {
    font-size: 0.8rem;
  }


  /* SIRI  */
  .Siri__question {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .Siri__answer {
    text-align: center;
    font-size: 1rem;
  }

  .Siri__answer__end {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 2rem;
  }


}